


.fondnav{
             background-color: #aa3322;
             height: 100px;
             width: 960px;
             margin-right: 50px;
             
}

.bandeau{
    margin-right: 50px;
}

.bgfooter{
    background-color: #aaaaaa;
             height: 100px;
             width: 960px;
             margin-right: 50px;
             
}

table{
    border: 3px; 
    

}